@import "variable";
@import "mixin";

.comingSoon{
    width:100%;
    height: 100vh;
    background-image: url("../images/comingsoonbg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    margin: 0 0;
    .comingSoon-content{
        position: absolute;
        width: 100%;
        height: 90vh;
        top: 70px;        
        p{
            font-size: 54px;
            font-weight: 500;          
            padding-top: 40%;    
            @include tablet-desktop {
                padding-top: 15%;    
            }
        }
        button {
            border-radius: 30px;
            border: solid 1px #fec602;
            background-color: rgba(0, 0, 0, 0.23);  
            font-size: 14px;
            font-weight: 600;
            color: #fec602;
            width: 184px;
            height: 36px;
        }
    }
}