.resources {
    background-color: #03070c;
    margin-top: 100px;
    .resources__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        width: 350px;
        margin: 20px auto;
        
        .resources__item__name {
            font-size: 24px;
            color: $colorWhite;
            padding-left: 5px;
        }
    }

    @include desktop() {
        margin-top: 200px;
    }
}